<form [formGroup]="CheckBoxs">
   <!--Datos de los checkbox-->
    <div fxLayout="column">
        <div fxLayout="row">
            <label fxFlex="90">

                1.- Solvencia del Seguro Social:
            </label>
            <mat-checkbox labelPosition="before"
            formControlName="CheckBox_1"
                        name="CheckBox_1"  >
            </mat-checkbox>

        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <label fxFlex="90">

                2.-Presentar copia de la Licencia anterior:
            </label>
            <mat-checkbox labelPosition="before"
            formControlName="CheckBox_2"
                        name="CheckBox_2"  >
            </mat-checkbox>

        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <label fxFlex="90">

                3.-Copia del Documento de Propiedad del Inmueble:
            </label>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_3"
                        name="CheckBox_3" >
            </mat-checkbox>

        </div>
        <mat-divider></mat-divider>
        <mat-radio-group formControlName="CheckBox_4"
        name="CheckBox_4" >
        <div fxLayout="row">
            <label fxFlex="80">4.-Contrato de Arrendamiento Notariado:</label>
            <mat-radio-button value="Vigente" >Vigente</mat-radio-button>
            <mat-radio-button value="Vencida" >Vencida</mat-radio-button>

        </div>
        </mat-radio-group>
        <mat-divider></mat-divider>
        <mat-radio-group formControlName="CheckBox_5"
        name="CheckBox_5" >
        <div fxLayout="row">
            <label fxFlex="80">5.-Original del Certificado de Bomberos:</label>
            <mat-radio-button value="Vigente" >Vigente</mat-radio-button>
            <mat-radio-button value="Vencida" >Vencida</mat-radio-button>

        </div>
        </mat-radio-group>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <label fxFlex="90">

                6.- Copia vigente del Registro de Información Fiscal (RIF) del contribuyente:
            </label>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_6"
                        name="CheckBox_6"  >
            </mat-checkbox>

        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <label fxFlex="90">

                7.- Original del Recibo de Pago de Dos(2) Unidades Tributarias por la Tasa:
            </label>
            <mat-checkbox labelPosition="before"
            formControlName="CheckBox_7"
                        name="CheckBox_7"  >
            </mat-checkbox>

        </div>
        
    </div>
</form>