<form [formGroup]="CheckBoxs">
  <div fxLayout="row">
    <label fxFlex="90">
      1.-Copia de la Cedula de Identidad del Solicitante y del Administradorder
      si lo hubiera. (Legible)
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_1">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      2.-Copia del Registro Mercantil o Acta Constitutiva Junta Directiva y
      Titulo de propiedad o documento donde conste el derecho al uso del
      inmueble
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_2">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      3.-Copia del RIF de los socios, solicitante y del Administrador si lo
      hubiera
    </label>

    <mat-checkbox labelPosition="before" formControlName="CheckBox_3">
    </mat-checkbox>
  </div>

  <br />
  <div fxLayout="row">
    <label fxFlex="90">
      4.-Copia de la Licencia de Actividades Económicas
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_4">
    </mat-checkbox>
  </div>

  <br />
  <span>5.-Indicar Indole del negocio</span>
  <mat-form-field>
    <mat-label>Indicar Indole del negocio</mat-label>
    <mat-select formControlName="CheckBox_5">
      <mat-option
        [value]="indole"
        *ngFor="let indole of indoles; let i = index"
        required
        >{{ indole }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <div fxLayout="row">
    <label fxFlex="90">
      6.-Uso Conforme y Zonificación, expedido por la División de planeamiento
      Urbano
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_6">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      7.-Certificado de Solvencia de Permiso y Polociales del solicitante y/o
      administrador si lo hubiera.
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_7">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      8.-Certificación de Antecedentes Penales y Policiales del solicitante y/o
      administrador si lo hubiera
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_8">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      9.-Constancia de Residencia y domicilio, expedida por las autoridades
      competentes (cuando se trate de extranjeros)
    </label>

    <mat-checkbox labelPosition="before" formControlName="CheckBox_9">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      10.-Inventario del Establecimiento, donde refleje el capital invertido en
      el negocio, visado por un contador Publico Actualizado a la fecha de la
      solicitud
    </label>

    <mat-checkbox labelPosition="before" formControlName="CheckBox_10">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90"> 11.-Certificación de Bomberos Vigente </label>

    <mat-checkbox labelPosition="before" formControlName="CheckBox_11">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      12.-En casos de solicitudes de indole Mayor o Menor indicar si funcionaran
      solos o anexos a abastos, supermercados agencia de festejos y si
      funcionaran o no conjuntamente dentro del mismo local
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_12">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90"> 13.-Croquis o Plano de Ubicación del Local </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_13">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      14.-Opinión por escrito debidamente fundamentada emitida por el consejo
      Comunal, aprobada por más del 50% de los integrantes
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_14">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      15.-Cinco fotos de negocio (03 interior del establecimiento y 02 de la
      fachada) deberán prestar 03 fotos de la cocina y mesa (tamaño 15 x 15
      indispoensable)
    </label>
    <mat-checkbox labelPosition="before" formControlName="CheckBox_15">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      16.-Autorización notariada, en caso de tramitar a traves de un
      representante
    </label>

    <mat-checkbox labelPosition="before" formControlName="CheckBox_16">
    </mat-checkbox>
  </div>

  <div fxLayout="row">
    <label fxFlex="90">
      17.-Traer los documentos en una carpeta marrón(oficio) con separadores,
      debiamente etiquetada y foliada en forma ascendente
    </label>

    <mat-checkbox labelPosition="before" formControlName="CheckBox_17">
    </mat-checkbox>
  </div>
</form>
