<form [formGroup]="CheckBoxs">
    <!--Datos de los checkbox-->
    <div fxLayout="column">
        <mat-checkbox labelPosition="before" 
                    formControlName="CheckBox_1"
                    name="CheckBox_1">
            1.- Oficio Original informando por el Cambio de Denominación:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
                    formControlName="CheckBox_2"
                                name="CheckBox_2">
            2.- Copia del Registro Mercantil y/o copia certificada de la última modificación de Acta Constituida y Estatutos:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_3"
                    name="CheckBox_3">
            3.- Reporte de Situación FIscal del Sistema, a nombre de la EMpresa, socios o accionistas y Arrendador:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_4"
                    name="CheckBox_4">
            4.- Original del uso Conforme:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_5"
                    name="CheckBox_5" >
            5.- Zonificación emitido por la oficina de Planeamiento Urbano:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_6"
                    name="CheckBox_6" >
            6.- Copia del Documento de Propiedad del inmueble:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-radio-group formControlName="CheckBox_7"
        name="CheckBox_7">
            <label>7.- Contrato de Arrendamiento Notariado</label>
            <mat-radio-button value="Vigente" >Vigente</mat-radio-button>
            <mat-radio-button value="Vencida" >Vencida</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_8"
                    name="CheckBox_8">
            8.- Copia vigente del Registro de Información Fiscal (RIF):
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_9"
                    name="CheckBox_9" >
            9.- Original de la Licencia de Actividades Económicas:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_10"
                    name="CheckBox_10" >
            10.- Original del último Trimestre Cancelado:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-radio-group formControlName="CheckBox_11"
        name="CheckBox_11">
            <label>11.- Original del Certificado de Bomberos:</label>
            <mat-radio-button value="Vigente" >Vigente</mat-radio-button>
            <mat-radio-button value="Vencida" >Vencida</mat-radio-button>
        </mat-radio-group>
    </div>

</form>