<form [formGroup]="CheckBoxs">
  <!--Datos de los checkbox-->
  <div fxLayout="column">
    <div fxLayout="row">
      <label fxFlex="90"
        >1.- Oficio Original informando por el Cambio de Denominación:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_1"
        name="CheckBox_1"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >2.- Copia del Registro Mercantil y/o copia certificada de la última
        modificación de Acta Constituida y Estatutos:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_2"
        name="CheckBox_2"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        3.- Reporte de Situación FIscal del Sistema, a nombre de la EMpresa,
        socios o accionistas y Arrendador:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_3"
        name="CheckBox_3"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">4.- Original del uso Conforme:</label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_4"
        name="CheckBox_4"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        5.- Zonificación emitido por la oficina de Planeamiento Urbano:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_5"
        name="CheckBox_5"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >6.- Copia del Documento de Propiedad del inmueble:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_6"
        name="CheckBox_6"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <mat-radio-group formControlName="CheckBox_7" name="CheckBox_7">
      <div fxLayout="row">
        <label fxFlex="80">7.- Contrato de Arrendamiento Notariado</label>
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >8.- Copia vigente del Registro de Información Fiscal (RIF):</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_8"
        name="CheckBox_8"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >9.- Original de la Licencia de Actividades Económicas:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_9"
        name="CheckBox_9"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">10.- Original del último Trimestre Cancelado:</label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_10"
        name="CheckBox_10"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <mat-radio-group formControlName="CheckBox_11" name="CheckBox_11">
      <div fxLayout="row">
        <label fxFlex="80">11.- Original del Certificado de Bomberos:</label>
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
</form>
