<div fxLayout="column" class="mat-card">
    <div class="justificado logo" >
        <img  src="assets/1Ssemat.png" alt="Logo Semat"  >
    </div>
    <br>
    <div class="contenedor">
            <div >
                <h1>Inicio de Sesión</h1>
                <mat-icon class="icono-display espaciadoMatContent">account_circle</mat-icon>
            </div>

            <mat-divider></mat-divider>
            <div class="formulario">
                <form [formGroup]="formularioRegistro" (ngSubmit)="aceptado()" >
                    <div fxLayout="row">
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="max-width">
                                <mat-label>Nombres</mat-label>
                                <input matInput type="text" formControlName="Nombres" name="Nombres" id="Nombres"  placeholder="Nombres" required autofocus autocomplete="off">
                                <span class="text-danger" 
                                *ngIf="(controlFormularioRegistro.Nombres.touched||aprobar) && controlFormularioRegistro.Nombres.errors?.required "
                                >Los Nombres son requeridos</span>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="max-width">
                                <mat-label>Apellidos</mat-label>
                                <input matInput type="text" formControlName="Apellidos" name="Apellidos" id="Apellidos"  placeholder="Apellidos" required autofocus autocomplete="off">
                                <span class="text-danger" 
                                *ngIf="(controlFormularioRegistro.Apellidos.touched||aprobar) && controlFormularioRegistro.Apellidos.errors?.required "
                                >Los Apellidos son requeridos</span>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="max-width">
                        <mat-label>Cédula</mat-label>
                        <input matInput type="text" formControlName="CI" name="CI" id="CI"  placeholder="Cédula" required autofocus autocomplete="off">
                        <span class="text-danger" 
                        *ngIf="(controlFormularioRegistro.CI.touched||aprobar) && controlFormularioRegistro.CI.errors?.required "
                        >La cédula es requerida</span>
                    </mat-form-field>

                    <div fxLayout="row">
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="max-width">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password':'text'" formControlName="contrasena" name="Contraseña" id="contraseña"  placeholder="Contraseña" required autofocus autocomplete="off">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                                <span class="text-danger" 
                                *ngIf="(controlFormularioRegistro.contrasena.touched||aprobar) && controlFormularioRegistro.contrasena.errors?.required "
                                >La contraseña es requerida</span>
                            <span class="text-danger" 
                                *ngIf="controlFormularioRegistro.contrasena.touched && controlFormularioRegistro.contrasena.errors?.contrasenaInvalida "
                                >La contraseña debe de tener:
                                <ul>
                                    <li>Minimo 8 caracteres</li>
                                    <li>Al menos una letra mayuscula</li>
                                    <li>Al menos una letra minuscula</li>
                                    <li>Al menos un numero</li>
                                </ul></span>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="max-width">
                                <mat-label>Confirmar Contraseña</mat-label>
                                <input matInput type="password" formControlName="confirContrasena" name="contrasenaconfir" id="contrasenaconfir"  placeholder="Confirmar Contraseña" required autofocus autocomplete="off">
                                <span class="text-danger" 
                                *ngIf="(controlFormularioRegistro.confirContrasena.touched||aprobar) && controlFormularioRegistro.confirContrasena.errors?.required "
                                >La confirmacion de la contraseña es requerida</span>
                                <span class="text-danger" 
                                *ngIf="controlFormularioRegistro.confirContrasena.touched && controlFormularioRegistro.confirContrasena.errors?.passwordMismatch"
                                >Las contraseñas no coinciden</span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <button mat-raised-button color="warn" type="submit" >Registrar</button>
                        <span class="spacer"></span>
                        <button mat-raised-button color="warn" routerLink="/auth/login" >Inicio de Sesión</button> 
                    </div>
                </form>
        </div>
    </div>
</div>

    

<!--
<div class="fondo">
<div class="container-fluid position-relative animate__animated animate__fadeIn ">
    <form [formGroup]="formularioRegistro" (ngSubmit)="aceptado()"  class="border border-dark text-center rounded-3 shadow-lg formulario">
      
        <h3 class="mb-3">Registro de Usuario</h3>
       <div class="form-floating mb-3">
           <input type="text" formControlName="Nombres" name="Nombres" id="Nombres" class="form-control input-group p-2" placeholder="Nombres" required autofocus autocomplete="off">
           <label for="Nombres" class="form-label">Nombres</label>
           <span class="text-danger" 
                *ngIf="(controlFormularioRegistro.Nombres.touched||aprobar) && controlFormularioRegistro.Nombres.errors?.required "
                >Los Nombres son requeridos</span>
       </div>
       <div class=" form-floating mb-3">
           <input type="text" formControlName="Apellidos" name="Apellidos" id="Apellidos" class="form-control input-group p-2" placeholder="Apellidos" required autofocus autocomplete="off">
           <label for="Apellidos" class="form-label">Apellidos</label>
           <span class="text-danger" 
                *ngIf="(controlFormularioRegistro.Apellidos.touched||aprobar) && controlFormularioRegistro.Apellidos.errors?.required "
                >Los Apellidos son requeridos</span>
       </div>
       <div class="form-floating mb-3">
           <input type="text" formControlName="CI" name="CI" id="CI" class="form-control input-group p-2" placeholder="Cédula" required autofocus autocomplete="off">
           <label for="CI" class="form-label">Cédula</label>
           <span class="text-danger" 
                *ngIf="(controlFormularioRegistro.CI.touched||aprobar) && controlFormularioRegistro.CI.errors?.required "
                >La cedula es requerida</span>
       </div>
       <div class="form-floating mb-3">
           <input type="password" formControlName="contrasena" name="Contraseña" id="contraseña" class="form-control input-group p-2" placeholder="Contraseña" required autofocus autocomplete="off">
           <label for="contraseña" class="form-label">Contraseña</label>
           <span class="text-danger" 
                *ngIf="(controlFormularioRegistro.contrasena.touched||aprobar) && controlFormularioRegistro.contrasena.errors?.required "
                >La contraseña es requerida</span>
            <span class="text-danger" 
                *ngIf="controlFormularioRegistro.contrasena.touched && controlFormularioRegistro.contrasena.errors?.contrasenaInvalida "
                >La contraseña debe de tener:
                <ul>
                    <li>Minimo 8 caracteres</li>
                    <li>Al menos una letra mayuscula</li>
                    <li>Al menos una letra minuscula</li>
                    <li>Al menos un numero</li>
                </ul></span>
       </div>
        <div class="form-floating mb-3">
           <input type="password" formControlName="confirContrasena" name="contrasenaconfir" id="contrasenaconfir" class="form-control input-group p-2" placeholder="Confirmar Contraseña" required autofocus autocomplete="off">
           <label for="contrasenaconfir" class="form-label">Confirmar Contraseña</label>
           <span class="text-danger" 
                *ngIf="(controlFormularioRegistro.confirContrasena.touched||aprobar) && controlFormularioRegistro.confirContrasena.errors?.required "
                >La confirmacion de la contraseña es requerida</span>
                <span class="text-danger" 
                *ngIf="controlFormularioRegistro.confirContrasena.touched && controlFormularioRegistro.confirContrasena.errors?.passwordMismatch"
                >Las contraseñas no coinciden</span>
       </div>    
       <button type="submit" class="btn btn-danger">Registrar</button>
       <button routerLink="/auth/login" class="btn btn-danger">Inicio de Sesion</button>
    </form>
</div>
</div>

-->