<form [formGroup]="CheckBoxs">
    <!--Datos de los checkbox-->
    <div fxLayout="column">
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_1"
                    name="CheckBox_1" >
            
            1.- Oficio Original informado por el Cambio de Dirección Realizada:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_2"
                    name="CheckBox_2" >
            2.- Copia del Registro Mercantil:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-radio-group formControlName="CheckBox_3"
        name="CheckBox_3">
            <label>3.-Original del certificado de Bomberos:</label>
            <mat-radio-button value="Vigente" >Vigente</mat-radio-button>
            <mat-radio-button value="Vencida" >Vencida</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_4"
                    name="CheckBox_4" >
            4.- Reporte de Situación Fiscal del Sistema, Socios o Accionistas y Arrendador:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_5"
                    name="CheckBox_5" >
            5.- Original del Uso Conforme
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_6"
                    name="CheckBox_6">
            6.- Zonifiación emitido por la Oficina de Planeamiento Urbano:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_7"
                    name="CheckBox_7" >
            7.- Copia del Documento de Propiedad del Inmueble:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-radio-group formControlName="CheckBox_8"
        name="CheckBox_8">
            <label>8.- Contrato de Arrendamiento Notariado</label>
            <mat-radio-button value="Vigente" >Vigente</mat-radio-button>
            <mat-radio-button value="Vencida" >Vencida</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_9"
                    name="CheckBox_9">
            9.- Original de la Licencia de Actividades Económicas:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_10"
        name="CheckBox_10">
            10.- Original del último Trimestre Cancelado:
        </mat-checkbox>
    </div>
</form>