<form [formGroup]="CheckBoxs">
    <div fxLayout="row">
      <label fxFlex="90">
        1.-Copia de la Licencia de Actividades Económicas
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_1">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        2.-Copia del Registro Mercantil y/o copia Certificada de última modificación de Acta Constitutiva y Estatutos
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_2">
      </mat-checkbox>
    </div>
  
    <mat-radio-group formControlName="CheckBox_3">
        <div fxLayout="row">
          <label fxFlex="80">3.- Original del Certificado de Bomberos</label>
          <mat-radio-button value="Vigente">Vigente</mat-radio-button>
          <mat-radio-button value="Vencida">Vencida</mat-radio-button>
        </div>
      </mat-radio-group>
  
    <br />
    <div fxLayout="row">
      <label fxFlex="90">
        4.-Copia vigentem del Registro de información Fiscal (RIF)
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_4">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
        <label fxFlex="90">
          5.-Copia(s) de la Cedula de Identidad del (los) Representante(s) Legal(es)
        </label>
        <mat-checkbox labelPosition="before" formControlName="CheckBox_5">
        </mat-checkbox>
      </div>
      <mat-radio-group formControlName="CheckBox_6">
        <div fxLayout="row">
          <label fxFlex="80">6.- Contrato de Arrendamiento Notariado</label>
          <mat-radio-button value="Vigente">Vigente</mat-radio-button>
          <mat-radio-button value="Vencida">Vencida</mat-radio-button>
        </div>
      </mat-radio-group>
  
    <div fxLayout="row">
      <label fxFlex="90">
        7.-Información de la ubicación exacta del local, indicando la distancia de Centros Asistenciales,
        Institutos Educativos y/o Templos Religiosos
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_7">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        8.-Original del último Trimestre Cancelado
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_8">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        9.-Reporte de Situación Fiscal del Sistema
      </label>
  
      <mat-checkbox labelPosition="before" formControlName="CheckBox_9">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        10.-Copia del Documento de Propiedad del Inmueble
      </label>
  
      <mat-checkbox labelPosition="before" formControlName="CheckBox_10">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90"> 11.-Recibo de PAgo de la Tasa respectiva: Casa Matríz 45 U.T. </label>
  
      <mat-checkbox labelPosition="before" formControlName="CheckBox_11">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        12.-Recibo de Pago de la Tasa por Renovación Casa Matríz 30 U.T.
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_12">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90"> 13.-Recibo de PAgo de la Tasa por Sucursal 10 U.T. </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_13">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        14.-Recibo de Pago de la Tasa por Renovación Surcursal 5 U.T.
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_14">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        15.-Recibo de Pago de la Tasa por Vendedor Independiente 30 U.T.
      </label>
      <mat-checkbox labelPosition="before" formControlName="CheckBox_15">
      </mat-checkbox>
    </div>
  
    <div fxLayout="row">
      <label fxFlex="90">
        16.-Recibo de PAgo d ela Tasa de Renovación de Vendedor Independiente 10 U.T.
      </label>
  
      <mat-checkbox labelPosition="before" formControlName="CheckBox_16">
      </mat-checkbox>
    </div>
  
    
  </form>
