<div fxLayout="row">
    <div class="contenedor mat-card" fxFlex="100">
        <div >
            <h1>Licencia de Expendido de Bebidas Alcoholicas Nueva</h1>
        </div>
        <mat-divider></mat-divider>
        <div class="formulario" >
        <form  autocomplete="off" [formGroup]="solicitud" (ngSubmit)="guardar()">
            <app-formulario-licor-nueva></app-formulario-licor-nueva>
            <app-licencia-licores-nueva></app-licencia-licores-nueva>
            <div fxLayout="row">
                <button mat-raised-button color="warn" 
                        type="submit" 
                        class="btn btn-danger"
                        >Enviar</button>
                <span class="spacer"></span>
                <button mat-raised-button 
                        color="warn" 
                        type="button" 
                        class="btn btn-danger"
                        (click)="LimpiarFormulario()">Limpiar</button> 
            </div>
        
        </form>

        </div>

    </div>
</div>
<!--[disabled]="solicitud.invalid"
 -->




