<div class="container">
    <form action="" class="border border-dark text-center rounded-3 shadow-lg formulario">
       <h3 class="mb-3">Inicio de Sesion</h3>
       <div class=" form-floating mb-3">
           <input type="text" name="CI" id="CI" class="form-control" placeholder="Cédula" required autofocus autocomplete="off">
           <label for="CI" class="form-label"> Cédula</label>
       </div>
           
       <div class="form-floating mb-3">
           <input type="password" name="Contraseña" id="contraseña" class="form-control" placeholder="Contraseña" required autofocus autocomplete="off">
           <label for="contraseña" class="form-label"> Contraseña</label>
       </div>
       <div class="mt-3">
           <button class="btn btn-danger">Ingresar</button>
       </div>
   </form>

</div>

