
<div fxLayout="column" class="tarjetainicio">
        <div class="justificado logo" >
            <img  src="assets/1Ssemat.png" alt="Logo Semat"  >
        </div>
        <br>
        <div class="contenedor">
                <div >
                    <h1>Inicio de Sesión</h1>
                    <mat-icon class="icono-display espaciadoMatContent">account_circle</mat-icon>
                </div>

                <mat-divider></mat-divider>

                <div class="formulario" >
                    <form [formGroup]="loginDatos" (ngSubmit)="aceptado()" >
                        <div>
                        <mat-form-field appearance="outline" class="max-width">
                            <mat-label>Cédula</mat-label>
                            <input matInput type="text" formControlName="CI" name="CI" id="CI"  placeholder="Cédula" required autofocus autocomplete="off">
                            <span class="text-danger" 
                                *ngIf="(controlFormularioRegistro.CI.touched||aprobar) && controlFormularioRegistro.CI.errors?.required "
                                >La cédula es requerida</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="max-width">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text' " formControlName="contrasena" name="Contrasena" id="contrasena" placeholder="Contraseña" required autofocus autocomplete="off">
                            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" >
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            <span class="text-danger" 
                                *ngIf="(controlFormularioRegistro.contrasena.touched||aprobar) && controlFormularioRegistro.contrasena.errors?.required "
                                >La contraseña es requerida</span>
                        </mat-form-field>

                        </div>

                        <div fxLayout="row">
                            <button mat-raised-button color="warn" type="submit" class="btn btn-danger">Ingresar</button>
                            <span class="spacer"></span>
                            <button mat-raised-button color="warn" routerLink="/auth/registro" class="btn btn-danger">Registro</button> 
                        </div>
                        </form>
                </div>

        </div>
</div>
        
