<div fxLayout="row">
    <div class="contenedor mat-card" fxFlex="100">
        <div >
            <h1>Renovación de Licencia de Licores</h1>
        </div>
        <mat-divider></mat-divider>
        <div class="formulario">
        <form  autocomplete="off"  [formGroup]="solicitud" (ngSubmit)="guardar()">
           <app-formulario-datos></app-formulario-datos>
            <app-renovacionliclico></app-renovacionliclico>
            
            <div fxLayout="row">
                <button mat-raised-button color="warn" 
                        type="submit" 
                        class="btn btn-danger"
                        [disabled]="solicitud.invalid"
                        >Enviar</button>
                <span class="spacer"></span>
                <button mat-raised-button 
                        color="warn" 
                        type="button" 
                        class="btn btn-danger"
                        (click)="LimpiarFormulario()">Limpiar</button> 
                    <button mat-raised-button color="warn" 
                    type="button" 
                    class="btn btn-danger" 
                    (click)="imprimir()">
                        Imprimir
                     </button>
            </div>
        
        </form>

        </div>

    </div>
</div>

<div id="Documento" *ngIf="mostrar!=false">
    <div fxLayout="row" class="encabezado" >
        <div fxFlex="15">
            <img src="../../../../assets/escudo.jpg" alt="">
        </div>
        <div  fxFlex="70">
           
            <p >
                Republica Bolivariana de Venezuela
                <br>
                Alcaldía del Municipio Puerto Cabello
                <br>
                Servicio Municipal de Administración Tributaria
                <br>
                Gerencia de Tramitación y asistencia al Contribuyente
            </p>
                <div class="subencabezado">
                    <h4><b>ACTA DE RECEPCIÓN</b></h4>
                    <h4><b>(RENOVACIÓN DE LICENCIA DE LICORES)</b></h4>
                    <h5><b>({{respuesta.Codigo}})</b></h5>
                </div>
            
        </div>
        <div  fxFlex="15">
            <img src="../../../../assets/semat logo.jpg" alt="">
        </div>
    </div>
    <div>
        
        <p class="cuerpo">
            En Puerto Cabello a los (días) ({{respuesta.Dia}}) días del mes de ({{respuesta.Mes}}) del año ({{respuesta.Ano}}) 
    Ciudadano: {{funcionario.Nombres}} {{funcionario.Apellidos}}, C.I. No. {{funcionario.CI}}, en su carácter de:
     “FUNCIONARIO” Adscrito al Servicio Municipal de Administración Tributaria (Semat-PC), hace constar que el(la) ciudadano(a) 
    Representante(s) de la Empresa: {{respuesta.Nombre_Empresa}} 
    Número de Rif: ({{respuesta.RIF}}), ubicación {{respuesta.Urbanizacion}},{{respuesta.Calle}},{{respuesta.CasaLocalEdificio}},
    el señor(a) : {{respuesta.Nombres}} {{respuesta.Apellidos}}, cedula: {{respuesta.CI}}, teléfono: {{respuesta.Telefono}} asistió, 
    hoy con la finalidad de consignar los siguientes documentos:

        </p>
        <div class="checkBoxs" >
            <div fxLayout="column">
                <div fxLayout="row">
                  <label fxFlex="90"> 1.- Original de Recibo de Pago </label>
                  <mat-checkbox
                    labelPosition="before"
                    [checked]="respuesta.CheckBox_1"
                  >
                  </mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                  <label fxFlex="90">
                    2.- Copia de la última Constancia de Renovación de Licencia Año
                  </label>
                  <mat-checkbox
                    labelPosition="before"
                    [checked]="respuesta.CheckBox_2"
                  >
                  </mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                  <label fxFlex="90">
                    3.- Copia vigente del Registro de Información Fiscal (RIF)
                  </label>
                  <mat-checkbox
                    labelPosition="before"
                    [checked]="respuesta.CheckBox_3"
                  >
                  </mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <br />
                <div fxLayout="row">
                  <mat-form-field fxFlex="50">
                    <mat-label>Indicar Indole del negocio</mat-label>
                    <mat-select [value]="respuesta.CheckBox_4">
                      <mat-option
                        [value]="respuesta.CheckBox_4"
                        *ngFor="let indole of indoles; let i = index"
                        required
                        >{{ indole }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="max-width" fxFlex="50">
                    <mat-label>Número</mat-label>
                    <input
                      matInput
                      type="text"
                      [value]="respuesta.numero"
                    />
                    
                  </mat-form-field>
                </div>
              </div>
            
        </div>
        <p class="parrafo">
            Me comprometo a consignar de conformidad con lo establecido en el Art. 50 de la Ley Organica de Procedimientos Administrativos, 
            me comprometo a consignar en oficio dirigido al (Semat-PC), en un plazo de quince (15) días, 
            cualquier otro documento que el servicio Municipal de Administración Tributaria Puerto Cabello, 
            considere necesario, para otorgar el registro de la Renovacion de Licencia de Actividades Económicas.
                <br>
            Se levanta la presente Acta No. {{respuesta.Codigo}} de dos folios, en tres (03) ejemplares del mismo tenor
            y a un solo efecto,uno de los cuales queda en el poder del (la) interesado(a).
            <br>
            Conforme con lo antes solicitado, firman:

        </p>
    </div>
    <div fxLayout="row">
        <div fxFlex="45" >
            <p class="encabezado">
                <b> 
                    Por el Servicio Municipal de Administración Tributaria (SEMAT-PC)
                </b>
            </p>
            <p class="parrafo">
                Nombre y Apellido: {{funcionario.Nombres}} {{funcionario.Apellidos}}
                <br>
                No. C.I. : {{funcionario.CI}}
                <br>
                Firma:__________________________
            </p>
        </div>
        <div fxFlex="10"></div>
        <div fxFlex="45" >
            <p>
                Por parte Interesada:
            </p>
            <p>
                Nombre y Apellido: {{respuesta.Nombres}} {{respuesta.Apellidos}}
                <br>
                No. C.I. : {{respuesta.CI}}
                <br>
                Contribuyente: {{respuesta.Nombre_Empresa}}
                <br>
                Firma:________________________
            </p>
            
        </div>
    </div>
</div>









