<!--Datos de los checkbox-->
<form [formGroup]="CheckBoxs">
  <div fxLayout="column">
    <div fxLayout="row">
      <label fxFlex="90"
        >1.- Original de la Planilla de Solicitud de L.A.E debidamente firmada
        por el Representante Legal :</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_1"
        name="CheckBox_1"
        fxFlex="10"
      ></mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">2.- Original de Uso Conforme:</label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_2"
        name="CheckBox_2"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div>
      <label fxFlex="90"
        >3.- Zonificación emitido por la Oficina de Planeamiento Urbano:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_3"
        name="CheckBox_3"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <mat-radio-group formControlName="CheckBox_4">
      <div fxLayout="row">
        <label fxFlex="80">4.-Original del certificado de Bomberos:</label>
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >5.- Original de Conformidad emitida por la Asoción de Vecinos,Consejo
        Comunal <br />
        o Junta Parroquial, donde opera el establecimiento (en caso de Licencia
        de Actividades Económicas para Bebidas Alcohólicas)</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_5"
        name="CheckBox_5"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxFlex="row">
      <label fxFlex="90">
        6.- Original del Recibo de la Tasa Capital Artículo 19 de la Ordenanza
        sobre Actividades Económicas, entre otros:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_6"
        name="CheckBox_6"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >7.- Copia vigente, del registro de información Fiscal (RIF), del
        contribuyente, Socio o Accionistas y del arrendador del Inmueble:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_7"
        name="CheckBox_7"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >8.- Copia del acta Constitutiva y Modificaciones, cumpliendo con lo
        estbalecido en el Artículo 04 de la Ordenanza de Actividades Económicas,
        sobre la formalidad en caso de Sucursal:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_8"
        name="CheckBox_8"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        9.- Copia del Documento de propiedad del inmueble:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_9"
        name="CheckBox_9"
      >
      </mat-checkbox>
      <mat-divider></mat-divider>
    </div>
    <mat-radio-group formControlName="CheckBox_10">
      <div fxLayout="row">
        <label fxFlex="80">10.- Contrato de Arrendamiento Notariado</label>
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">11.- Solvencia del Seguro Social:</label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_11"
        name="CheckBox_11"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"
        >12.- En caso de Solicitud de Licencia de Restaurant, anexar Permiso
        Sanitario del Negocio en Referencia:</label
      >
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_12"
        name="CheckBox_12"
      >
      </mat-checkbox>
    </div>
  </div>
</form>
