
<div fxLayout="row">
    <div class="contenedor mat-card" fxFlex="100">
        <div >
            <h1>Licencia de Actividad Económica Nueva</h1>
        </div>
        <mat-divider></mat-divider>
        <div class="formulario">
            <form  autocomplete="off" [formGroup]="solicitud" (ngSubmit)="guardar()">
                <app-formulario-datos></app-formulario-datos>
                <app-actividad-aaae></app-actividad-aaae>
         <div fxLayout="row">
                    <button mat-raised-button color="warn" 
                            type="submit" 
                            class="btn btn-danger"
                            [disabled]="solicitud.invalid"
                            >Enviar</button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn" 
                        type="button" 
                        class="btn btn-danger" 
                        (click)="LimpiarFormulario()">Limpiar</button> 
                </div>
            
            </form>
        
            <h1>Valor del formualrio</h1>
            <span>{{solicitud.value|json}}</span>
            <h1>Valid Formulario</h1>
            <span>{{solicitud.valid}}</span>
        </div>

    </div>
</div>

