<form [formGroup]="CheckBoxs">
    <!--Datos de los checkbox-->
    <div fxLayout="row">
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_1"
                    name="CheckBox_1" 
            fxFlex="50">
            Declaración Anual Impuesto L.A.E
        </mat-checkbox>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_2"
                    name="CheckBox_2"  
                    fxFlex="50">
            Contratación de Obras y/o Servicios
        </mat-checkbox>
    </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
        <mat-checkbox labelPosition="before" 
                    formControlName="CheckBox_3"
                                name="CheckBox_3"
                                fxFlex="50" >
            Solicitud de Licencia de Actividad Económica
        </mat-checkbox>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_4"
                    name="CheckBox_4" 
                    fxFlex="50" >
            Venta o Compra de Vehículos
        </mat-checkbox>
    </div>
        <mat-divider></mat-divider>
    <div fxLayout="row">
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_5"
                    name="CheckBox_5"
                    fxFlex="50" >
            Registro Catastral
        </mat-checkbox>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_6"
                    name="CheckBox_6" 
                    fxFlex="50">
            Venta o Compra de Inmueble
        </mat-checkbox>
    </div>
    <div fxLayout="row">
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_7"
                    name="CheckBox_7"
                    fxFlex="50" >
            Licitación
        </mat-checkbox>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_8"
                    name="CheckBox_8" 
                    fxFlex="50">
           Construcción
        </mat-checkbox>
    </div>
    <div fxLayout="row">
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_9"
                    name="CheckBox_9"
                    fxFlex="50" >
            Publicidad y Propaganda Comercial
        </mat-checkbox>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_10"
                    name="CheckBox_10" 
                    fxFlex="50">
            Reparación de Inmueble
        </mat-checkbox>
    </div>
    <div fxLayout="row">
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_11"
                    name="CheckBox_11"
                    fxFlex="50" >
            Regulación o desocupación del Inmueble
        </mat-checkbox>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_12"
                    name="CheckBox_12" 
                    fxFlex="50">
            Otros
        </mat-checkbox>
    </div>
</form>
