<form [formGroup]="CheckBoxs">
    <div fxLayout="column">
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_1"
                    name="CheckBox_1">
            1.- Copia del Registro Mercantil:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_2"
                    name="CheckBox_2" >
            2.- Copia Vigente del Registro de Información Fiscal (RIF):
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_3"
                    name="CheckBox_3" >
            3.- Reporte de Situación Fiscal del Sistema, a nombre de la Empresa, Solvente:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_4"
                    name="CheckBox_4">
            4.- Copia(s) de la Cédula de Identidad del (los) Representante(s) Legal(es):
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before"
        formControlName="CheckBox_5"
                    name="CheckBox_5" >
            5.- Original del Recibo de Pago de Tres (3) Unidades Tributarias:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_6"
                    name="CheckBox_6">
            6.- Original de Planillas de Registro y Tributación:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_7"
                    name="CheckBox_7">
            7.- Original de Planillas de Declaración Estimada de Ingresos, por concepto del monto de la Obra a Ejecutar:
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox labelPosition="before" 
        formControlName="CheckBox_8"
                    name="CheckBox_8">
            8.- Copia del Contrato de Obra suscrito entre las partes:
        </mat-checkbox>
    </div>
</form>