 <form [formGroup]="CheckBoxs">
        <!--Datos de los checkbox-->
        <div fxLayout="column">
            <mat-checkbox labelPosition="before"
            formControlName="CheckBox_1"
                    name="CheckBox_1" >
                1.- Oficio Original solicitando extención de la Actividad Económica:
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_2"
                    name="CheckBox_2">
                2.- Copia del Registro Mercantil:
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_3"
                    name="CheckBox_3">
                3.- Original de Uso Conforme:
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_4"
                    name="CheckBox_4">
                4.- Zonificación emitido por la
                Oficina de Planeamiento Urbano:
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_5"
                    name="CheckBox_5">
                5.- Copia vigente del Registro de Información Fiscal (RIF):
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox labelPosition="before" 
            formControlName="CheckBox_6"
                    name="CheckBox_6">
                6.- Original de la Licencia de Actividades Económicas:
            </mat-checkbox>
        </div>
</form>