<form [formGroup]="CheckBoxs">
  <!--Datos de los checkbox-->
  <div fxLayout="column">
    <div fxLayout="row">
      <label fxFlex="90">
        1.- Oficio Original solicitando extención de la Actividad Económica:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_1"
        name="CheckBox_1"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"> 2.- Copia del Registro Mercantil: </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_2"
        name="CheckBox_2"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"> 3.- Original de Uso Conforme: </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_3"
        name="CheckBox_3"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        4.- Zonificación emitido por la Oficina de Planeamiento Urbano:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_4"
        name="CheckBox_4"
      >
      </mat-checkbox>
    </div>

    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        5.- Copia vigente del Registro de Información Fiscal (RIF):
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_5"
        name="CheckBox_5"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        6.- Original de la Licencia de Actividades Económicas:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_6"
        name="CheckBox_6"
      >
      </mat-checkbox>
    </div>
  </div>
</form>
