<form [formGroup]="CheckBoxs">
  <!--Datos de los checkbox-->
  <div fxLayout="column">
    <div fxLayout="row">
      <label fxFlex="90">
        1.- Copia de la última Licencia de Actividad Económica:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_1"
        name="CheckBox_1"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"> 2.- Copia del Registro Mercantil: </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_2"
        name="CheckBox_2"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <mat-radio-group formControlName="CheckBox_3" name="CheckBox_3">
      <div fxLayout="row">
        <label fxFlex="80"
          >3.-Reporte de Situción Fiscal del Sistema, a nombre de la
          Empresa:</label
        >
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        4.- Original del Recibo d ePAgo de Dos (2) Unidades Tributarias para la
        constancia:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_4"
        name="CheckBox_4"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        5.- Copia del Documento de Propiedad del Inmueble:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_5"
        name="CheckBox_5"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"> 6.- Contrato de Arrendamiento Notariado: </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_6"
        name="CheckBox_6"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        7.- Copia vigente, del registro de información Fiscal (RIF):
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_7"
        name="CheckBox_7"
      >
      </mat-checkbox>
    </div>
  </div>
</form>
