<form [formGroup]="CheckBoxs">
  <!--Datos de los checkbox-->
  <div fxLayout="column">
    <div fxLayout="row">
      <label fxFlex="90"> 1.- Copia de la Ultima Licencia Aduanal: </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_1"
        name="CheckBox_1"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        2.-Reporte de Situación fiscal del sistema, a nombre de la empresa,
        Solvente:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_2"
        name="CheckBox_2"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        3.-Original del Recibo de pago de dos (2) Unidades Tributarias por
        Renovación:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_3"
        name="CheckBox_3"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        4.-Copia del Documento de Propiedad del Inmueble:
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_4"
        name="CheckBox_4"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <mat-radio-group formControlName="CheckBox_5" name="CheckBox_5">
      <div fxLayout="row">
        <label fxFlex="80">5.-Contrato de Arrendamiento Notariado:</label>
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90"> 6.- Solvencia del Seguro Social: </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_6"
        name="CheckBox_6"
      >
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <mat-radio-group formControlName="CheckBox_7" name="CheckBox_7">
      <div fxLayout="row">
        <label fxFlex="80">7.- Original del Certificado de Bomberos:</label>
        <mat-radio-button value="Vigente">Vigente</mat-radio-button>
        <mat-radio-button value="Vencida">Vencida</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <label fxFlex="90">
        8.- Copia vigente del Registro de información Fiscal (RIF):
      </label>
      <mat-checkbox
        labelPosition="before"
        formControlName="CheckBox_8"
        name="CheckBox_8"
      >
      </mat-checkbox>
    </div>
  </div>
</form>
