/* You can add global styles to this file, and also import other style files */


.formulario{
    max-width: 600px; 
    margin: auto;
    padding: 20px 30px;
    margin-top: 50px;
}

.menuLogin{
    max-width: 480px;
    margin-bottom: 0px;
    margin:auto;
}
.max-width{
    width: 100%;
}
.espaciadoMatContent{
    margin-top: 15px;
}
.icono-display{
    transform: scale(2);
}
.background{
    background-color: crimson;
}
.spacer {
    flex: 1 1 auto;
}
.justificado{
    display: flex;
    justify-content: center;
    
}
.imagen{
    width:100px;
    height: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0;}
