/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0;
    padding: 0;
}
.formulario{
    max-width: 480px; 
    margin: auto;
    padding: 20px 30px;
    margin-top: 50px;
}

.menuLogin{
    max-width: 480px;
    margin-bottom: 0px;
    margin:auto;
}
.max-width{
    width: 100%;
}
.espaciadoMatContent{
    margin-top: 15px;
}
.icono-display{
    transform: scale(2);
}
.fondo{
    height:100%; background-size:cover; 
    width:100%;
     background-image:url('/assets/puerto001.png');
    

   
  }
.spacer {
    flex: 1 1 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
